.button-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
    gap: 8px;



}



.button-link {

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--background-clip);
    color: var(--background-black);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-link:hover,
.button-link:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
        0 4px 6px rgba(0, 0, 0, 0.2);
    color: var(--background-clip);
    background-color: var(--background-button);

}